/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

#navbar > div > div.navbar-header > a > img.hidden-xs.hidden-sm {
  max-height: 50px;
}